.bestSellerDishesContainerHead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bestSellerDishesContainer h2{
    text-align: center;
    padding-bottom: 5px;
    font-size: 30px;
    color: #1F2937;
}
.bestSellerDishesContainerHead p{
    font-size: 1.2rem;
    text-align: center;
    color: #555; 
    line-height: 1.2;
    max-width: 600px;
    margin: 0 auto; 
}